<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ihcfindeat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Apple2Activity"
            android:label="@string/title_activity_apple2"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity
            android:name=".Safrron2Activity"
            android:label="@string/title_activity_safrron2"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity
            android:name=".Crab2Activity"
            android:label="@string/title_activity_crab2"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity
            android:name=".Js2"
            android:label="@string/title_activity_js2"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity
            android:name=".Chicken2"
            android:label="@string/title_activity_chicken2"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity
            android:name=".Meatloaf2"
            android:label="MeatLoaf"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ihcfindeat.Principal" />
        </activity>
        <activity android:name=".Contact" />
        <activity android:name=".Tutorial6" />
        <activity android:name=".Tutorial5" />
        <activity android:name=".Tutorial4" />
        <activity android:name=".Tutorial3" />
        <activity android:name=".Tutorial2" />
        <activity android:name=".Tutorial" />
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RedirecionarGoogle" />
        <activity android:name=".RedirecionarFB" />
        <activity
            android:name=".TelaFace"
            android:label="@string/title_activity_log_fb" />
        <activity android:name=".TelaCadastrar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>